.dotted-vertical {
  width: 1px;
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: 1px 8px;
  color: rgba(56, 189, 248, 0.6); /* sky-400 */
  height: 100%;
}

.dotted-horizontal {
  height: 1px;
  width: 100%;
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: 8px 1px;
  color: rgba(56, 189, 248, 0.6);
}

